# Automount USB drives
# When a USB block device with a filesystem is added, start the mount service
ACTION=="add", SUBSYSTEMS=="usb", KERNEL=="sd[a-z][0-9]*", ENV{ID_FS_TYPE}!="", TAG+="systemd", ENV{SYSTEMD_WANTS}+="usb-mount@%k.service"

# When a USB block device is removed, stop the mount service
ACTION=="remove", SUBSYSTEMS=="usb", KERNEL=="sd[a-z][0-9]*", TAG+="systemd"
